<div class="row p-0 m-0 home-bg">
    <div class=" mt-10 text-white">
        <h1 style="font-size: 5rem;">Explore all</h1>
        <h1 style="font-size: 5rem;">available listing</h1>
        <p>Find and book for your customers</p>
    </div>
</div>
<div class="container">
    <div class="row p-0 m-0 ">
        <div class="shadow bg-white rounded-4 d-flex flex-row align-items-center" style="margin: -1rem !important; height: 5rem;">
            <div class="input-group">
                <input type="text" id="el" class="form-control border-0" placeholder="Check In" aria-label="Check In" aria-describedby="date-label">
                <span class="input-group-text border-0 bg-white" id="date-label"><i class="far fa-calendar-alt"></i></span>
            </div>
            <div class="vertical-line px-1"></div>
            <div class="input-group">
                <select class="form-select border-0" id="inputGroupSelect01">
                  <option selected>Session...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <!-- <label class="input-group-text border-0 bg-white" for="inputGroupSelect01"><i class="far fa-clock"></i></label> -->
            </div>
            <div class="vertical-line px-1"></div>
            <div class="input-group">
                <select class="form-select border-0" id="inputGroupSelect01">
                  <option selected>Guests...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <!-- <label class="input-group-text border-0 bg-white" for="inputGroupSelect01"><i class="fas fa-users"></i></label> -->
            </div>
            <div class="d-flex align-items-center">
                <button routerLink="/boat-list" type="button" class="btn primary-colour text-white" style="height: 3rem;"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</div>
