<div class="pt-6 ">
    <div class="container ">
        <div class="row">
            <div class="col home-bg">
                <p class="text-white fw-bold m-0">YACHT NAME</p>
                <p class="text-white">Date</p>
            </div>
        </div>
        <div class="d-flex">
            <div class="flex-grow-1  pb-4 pt-1"><h4 class="fw-bold">BOOKING DETAIL</h4></div>
            <!-- <div class=""></div> -->
        </div>
        <div class="row ">
            <div class="col border-end">
                <p class="fw-bold text-muted p-0 m-0">Date</p>
                <p class="">22 MARCH 2023</p>
            </div>
            <!-- <div class="vertical-line px-1"></div> -->
            <div class="col border-end">
                <p class="fw-bold text-muted p-0 m-0">Session</p>
                <p class="">Evening</p>
            </div>
            <!-- <div class="vertical-line px-1"></div> -->
            <div class="col">
                <p class="fw-bold text-muted p-0 m-0">Guests</p>
                <p class="">30 Person</p>
            </div>
        </div>
        <div class="d-flex pt-5 pb-3">
            <div class="flex-grow-1 pt-1"><h5 class="fw-bold">Yacht Detail</h5></div>
        </div>
        <div class="row">
            <div class="col border-end">
                <p class="fw-bold text-muted p-0 m-0">Name</p>
                <p>Yacht Name</p>
            </div>
            <div class="col border-end">
                <p class="fw-bold text-muted p-0 m-0">Price (RM)</p>
                <p>RM 3000</p>
            </div>
            <div class="col">
                <p class="fw-bold text-muted p-0 m-0">Amenities</p>
                <ul>
                    <li>Alcohol</li>
                    <li>Jacuzzi</li>
                    <li>Buffet</li>
                </ul>
            </div>  
        </div>
        <div class="d-flex pt-4 pb-3">
            <div class="flex-grow-1 pt-1"><h5 class="fw-bold">Payment Detail</h5></div>
        </div>
        <div class="row">
            <div class="col border-end">
                <p class="fw-bold text-muted p-0 m-0">Total Price (RM)</p>
                <p>RM 3000</p>
            </div>
            <div class="col border-end">
                <p class="fw-bold text-muted p-0 m-0">Booking Fee (RM)</p>
                <p>RM 1000</p>
            </div>
            <div class="col">
                <p class="fw-bold text-muted p-0 m-0">Commision</p>
                <p>RM 300</p>
            </div>  
        </div>
    </div>
</div>

